$columns: 12;
$singleColumnWidth: 100%/$columns;
$myGreen: #38C3AD;
$myGradient: -webkit-linear-gradient(top, #FCFCFC 37%, #F2F5F6 72%, #CECECE 98%, #CECECE 100%, #F2F5F6 100%, #CECECE 100%);
$break-small: 320px;